body{
	background-color: #040b4f;
	text-align: center;
}

canvas{
	position: absolute;
	top: 0;
	left: 0;
}

.chart{
	border: 1px solid rgba(238,238,238,0.1);
}

/*飞线*/
.group-line .line-basic{
	fill: none;
	stroke-width: 1;
  	stroke: #fafafa;
  	opacity: 0;
}

.city-layout text{
	fill: #fafafa;
	opacity: 0.7;
	text-anchor: middle;
}
.city-layout .city-point{
	r: 2;
	fill: #00ffe7;
	opacity: 0.6;
}

.setting{
	display: none;
	text-align: left;
	position: absolute;
	right: 0;
	top: 0;
	background-color: rgba(0,0,0,0.1);
    padding: 0px 30px;
    color: rgba(255,255,255,0.6);
    height: 100%;
}
.setting .group{
	margin-bottom: 5px;
}
.setting input, .setting textarea {
    border:1px solid #aaa;
    /*box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;*/
    border-radius:2px;
}
.show{
	display: block;
}